<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hf.bbpowercalc">
    <!--
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    -->
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".SettingsActivity"
                android:label="@string/settings_string"
                android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.hf.bbpowercalc.MainActivity"/>
        </activity>

        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" -->
        <!-- android:theme="@style/AppTheme" -->
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <!--
<meta-data
                android:name="com.google.android.gms.ads.com.hf.bbpowercalc"
                android:value="ca-app-pub-7564011937299425~1235122750"/>
        -->
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>